html {
	font-size: 64px;
}

body {
	font-family: Lato;
	color: green;
	background-color: white;
	width: 100%;
	text-align: center;
}

.header {
	margin-bottom: .8rem;
}

.header img {
	height: 2.5rem;
}

.header.red {
	-webkit-filter: hue-rotate(130deg);
}

.header.pink {
	-webkit-filter: hue-rotate(70deg);
}

.header.green {
	-webkit-filter: hue-rotate(280deg);
}

.header.yellow {
	-webkit-filter: invert(100%);
}

/**
 * Spacing for station information.
 */
.station {
	padding-bottom: 1rem;
	text-align: left;
}

.name {
	width: 60%;
	font-size: 0.7em;
}

.right img {
	height: 1.25em;
}

.bikes {
	position: absolute;
	right: 8em;
}

.bikes-image {
	position: absolute;
	right: 6em;
}

.docks {
	position: absolute;
	right: 4em;
}

.docks-image {
	position: absolute;
	right: 3.25em;
}

.map {
	position: absolute;
	right: 1em;
}

@media (max-width: 1300px) {
	.station {
		font-size: 0.9rem;
	}
}

@media (max-width: 1200px) {
	.station {
		font-size: 0.8rem;
	}
}

@media (max-width: 1060px) {
	.station {
		font-size: 0.7rem;
	}
}

@media (max-width: 930px) {
	.station {
		font-size: 0.6rem;
	}
}

@media (max-width: 800px) {
	.station {
		font-size: 0.5rem;
	}
}

.loading {
	font-size: 30px;
	position: absolute;
	top: 2px;
	width: 100%;
	margin-bottom: 10px;
}

.spinner {
	margin-right: 0.2rem;
}

a {
	color: green;
}
