body {
	font-family: Lato;
	color: green;
	background-color: white;
	width: 100%;
	text-align: center;
}

.header {
	margin-bottom: 50px;
}

.header img {
	height: 160px;
}

.name {
	font-size: 50px;
	max-width: 60%;
}

.right {
	font-size: 70px;
	float: right;
	width: 40%;
}

.station {
	padding-bottom: 50px;
	text-align: left;
}

.station img {
	height: 80px;
}

.station span {
	padding-right: 0.5em;
}

.bikes {
	position: absolute;
	right: 500px;
}

.bikes-image {
	position: absolute;
	right: 360px;
}

.docks {
	position: absolute;
	right: 240px;
}

.docks-image {
	position: absolute;
	right: 190px;
}

.directions {
	position: absolute;
	right: 50px;
}

.loading {
	font-size: 30px;
	position: absolute;
	top: 2px;
	width: 100%;
	margin-bottom: 10px;
}

.spinner {
	margin-right: 0.2em;
}

a {
	color: green;
}
