body {
	font-family: Lato;
	color: green;
	background-color: white;
	width: 100%;
	text-align: center;
}

.header {
	margin-bottom: 50px;
}

.name {
	font-size: 90px;
	max-width: 50%;
}

.right {
	float: right;
	width: 50%;
}

.station {
	font-size: 100px;
	padding-bottom: 0.5em;
	text-align: left;
}

.station img {
	height: 114px;
}

.station span {
	padding-right: 0.5em;
}

.bikes {
	position: absolute;
	right: 750px;
}

.bikes-image {
	position: absolute;
	right: 530px;
}

.docks {
	position: absolute;
	right: 340px;
}

.docks-image {
	position: absolute;
	right: 260px;
}

.directions {
	position: absolute;
	right: 100px;
}

.distance {
	position: absolute;
	right: 880px;
}

.loading {
	font-size: 30px;
	position: absolute;
	top: 2px;
	width: 100%;
	margin-bottom: 10px;
}

.spinner {
	margin-right: 0.2em;
}

a {
	color: green;
	text-decoration: none;
}
